.s-image-container {
    height: 400px;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.s-image-container:hover {
    cursor: pointer;
    background: rgb(222, 222, 222);
}


.s-image-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.s-audio-container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.s-audio-container .record-button {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background: rgba(191, 10, 10, 0.759);
    color: white;
    margin: 10px;
    border: none;
}

.s-audio-container .record-button.recording {
    border-radius: 5px;
}

.list-questions i {
    cursor: pointer;
}

.list-questions i:hover,
.list-questions i.selected {
    color: white;
    background: black;
}

#saveQuestion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#saveQuestion .spinner-border {
    display: none;
    margin-right: 10px;
}

#saveQuestion.loading .spinner-border {
    display: block;
}