body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
}

.app {
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
    max-width: unset;
    border-radius: unset;
}

.test-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #191919;
    color: #ffffff;
    font-size: 20px;
}

#home-btn ,
#history-btn {
    margin-left: 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.test-header-content {
    display: flex;
    margin: 30px 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.test-header span {
    margin-inline: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 1px 7px;
    font-weight: bold;
}
.test-info {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.test-body {
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-direction: row;
    background-color: #191919;
    overflow: hidden;
}

.test-media {
    display: flex;
    width: 100%;
    height: 100%;
}

.test-media img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.test-controls {
    width: 350px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: white;
    margin: 30px 20px;
    border-radius: 10px;
}

.test-answer-display {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.test-answers {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.test-answers button {
    width: 100%;
    height: 50px;
    background-color: #191919;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.test-answers button.selected {
    background-color: rgb(34, 79, 227);
}

.test-answers button:hover {
    /* background-color: rgb(34, 79, 227); */
}

.btn-valider {
    width: 100%;
    height: 50px;
    background-color: green;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-correction {
    width: 100%;
    height: 50px;
    background-color: red;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-commets {
    width: 100%;
    height: 50px;
    background-color: rgb(87, 87, 87);
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.result-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
}

.result-header span {
    margin-inline: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 1px 7px;
    font-weight: bold;
}

.result-body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #191919;
    overflow: hidden;
}

.result-media {
    display: flex;
    width: 100%;
    height: 100%;
}

.result-media img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.result-controls {
    width: 300px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: white;
    margin: 30px 20px;
}

.result-answer-display {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.result-answer-display.wrong {
    color: red;
}

.result-answer-display.correct {
    color: green;
}

.result-answers {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.result-answers button {
    width: 100%;
    height: 50px;
    background-color: #191919;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.result-answers button.selected {
    background-color: rgb(34, 79, 227);
}

.result-answers button:hover {
    background-color: rgb(34, 79, 227);
}

.btn-valider {
    width: 100%;
    height: 50px;
    background-color: green;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-explication {
    width: 100%;
    height: 50px;
    background-color: rgb(0, 140, 255);
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-correction {
    width: 100%;
    height: 50px;
    background-color: red;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.user-wrong-answers {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #191919;
    padding: 20px;
    border-bottom: solid 1px white;
}

.user-wrong-answers button {
    margin-inline: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 1px 7px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    border-bottom: solid 3px white;
}

.user-wrong-answers button:hover {
    margin-inline: 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 1px 7px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    border-bottom: solid 1px white;
    margin-top: 2px;
}

#start-btn {
    width: 250px;
    height: 70px;
    background-color: black;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    position: relative;
}

#start-btn:hover {
    background-color: rgb(10, 24, 71);
}

#start-btn #progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(23, 159, 75);
    border-radius: 5px;
    z-index: 0;
}

#progress-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 20px;
}

#progress-text #progress {
    margin-right: 10px;
}


#collecting-data {
    font-size: 17px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#pause-btn {
    background-color: white;
    height: 40px;
    width: 40px;
    color: black;
    margin-left: 10px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#pause-btn img {
    width: 20px;
    height: 20px;
}

.btn-history {
    background: rgb(41, 41, 41);
    border-radius: 10px;
    border: none;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    height: 140px;
    display: flex;
    cursor: pointer;
    color: white;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.btn-history:hover {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.btn-history .history-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.btn-history .history-date{
    margin-top: 10px;
    font-size: 12px;
}
.btn-history .history-result{
    font-size: 15px;
    margin-top: 10px;
}
.btn-history .history-serie{
    font-size: 35px;
}

.test-answer-display {
    display: none;
}

.grid-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

/* if size less than 768 */
@media (max-width: 768px) {
    .test-body {
        flex-direction: column;
        justify-content: space-between;
    }

    .test-media {
        width: 100%;
        height: 60%;
    }

    .test-controls {
        width: unset;
        height: 40%;
        margin: 0;
        border-radius: 0;
    }

    .result-body {
        flex-direction: column;
    }

    .result-media {
        width: 100%;
        height: 60%;
    }

    .result-controls {
        width: 100%;
        margin: 0;
    }

    .test-answers button {
        height: 100px;
        margin-left: 5px;
    }

    .test-answers button:first-child {
        margin-left: 0;
    }

    .btn-history {
        height: 100px;
        margin-left: 0;
    }

    .test-answers {
        display: flex;
        flex-direction: row;
    }

    .test-header .test-header-content {
        padding: 20px;
        flex-wrap: wrap;
        margin: 0;
    }

    .test-header .test-header-content .test-info {
        font-size: 10px;
        padding-top: 30px;
        text-align: center;
        margin: auto;
        white-space: nowrap;
    }

    #home-btn {
        margin-left: 0;
    }

    #user-wrong-answers  {
        flex-wrap: nowrap;
        overflow: auto;
    }

    .result-answer-display {
        font-size: 27px;
        height: auto;
        height: 20px;
        margin-bottom: 10px;
        color: black;
        background: white;
    }
}